<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('./partials/stylesheet'); %>
</head>

<body>
  <%- include('./partials/navigation'); %>
    <div class="container">
      <div class="page-header">
        <h1>
          <%= title %>
        </h1>
      </div>
      <div class="details">
        <p><img src="<%=avatar%>" alt="profile image" /></p>
        <p>
          <%=user.local.name%>
        </p>
        <p>
          <%=user.local.email%>
        </p>
        <a href="/logout">Log Out</a>
      </div>
    </div>
    <%- include('./partials/footer'); %>
    <%- include('./partials/javascript'); %>
</body>

</html>